.app-header {
  background-color: #1a1325;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 4vh;
}

.nav {
  background-color: #1a1325;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: 2vh;
  color: #ebd7fa;
  padding: 2vh;
  margin-left: 2vh;
  width: 4vh;
}

.centered {
  min-width: 100%;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.centered-extra {
  min-width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
